@import url(https://fonts.googleapis.com/css?family=Roboto:400,100|Lora:700);
.flex-center {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

header {
  height: 700px;
  background-image: url(../img/laptop-lady.png);
  background-size: cover;
  background-position: center;
  position: relative; }
  header #z-logo {
    height: 60px;
    margin: 20px 0;
    position: absolute; }
  header .content {
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-top: 150px; }
    header .content p {
      font-size: 72px;
      font-weight: 100;
      color: white; }
      header .content p span {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #5EDB61;
        font-family: "Lora", serif;
        display: inline-block; }

@media (max-width: 500px) {
  header .content p {
    font-size: 14.6vw; } }
section#process {
  text-align: center;
  padding: 50px 0 100px;
  overflow: hidden; }
  section#process .container h2 {
    margin: 30px auto; }
  section#process .container .thumbnail {
    padding: 30px 0 10px; }

section#upload {
  height: 600px;
  background: #e7e7e7; }
  section#upload #dropzone {
    background: white;
    height: 400px;
    border: 5px groove #04519b;
    border-radius: 5px;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; }
    section#upload #dropzone:hover {
      cursor: pointer; }

footer .navbar {
  border-radius: 0;
  margin: 0; }
  footer .navbar li {
    color: white; }
